body {
    background-color: lightgray;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

main {
    margin: 0 auto;
    max-width: 600px;
    width: 80%;
}

footer {
    justify-content: space-between;
    background-color: #5c5b5b;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    border-top: #5c5b5b 50px;
}

html {
    text-align: center;
}

h1 {
    border-bottom: 4px double #5c5b5b;
}

.site-header {
    background-size: cover;
    height: 150px;
}

.site-title {
    font-size: 2em;
}

/* style nav */

ul {
    display: flex;
    list-style: none;
    margin: 0;
}

ul li {
    margin-right: 10px;
    margin: 0 auto;
    color: black;
    padding-bottom: 5px grey;
}


/* style about page */

.container {
    display: flex;
    margin-top: 40px;
}

.main-column {
    flex: 1;
    margin-top: 80px;
    margin: 25px;
}

.right-column {
    flex: 1;
}

/*Galen style*/
/* Stilar för h1-elementet */
h1.crazy4 {
    color: #ff00ff; /* Lila textfärg */
    font-size: 48px; /* Storlek på texten */
    text-transform: uppercase; /* Gör texten versaler */
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff; /* Lila textskugga */
}

/* Stilar för p-elementen */
.crazy {
color: #00ff00; /* Grön textfärg */
font-size: 24px; /* Storlek på texten */
margin-bottom: 20px; /* Lägg till mellanrum under paragraferna */
transform: rotate(5deg); /* Rotera texten med 5 grader */
}

/* Effekt när man hovrar över länken */
a:hover.crazy2 {
transform: scale(1.5); /* Skala upp länken med 150% */
rotate: 360deg; /* Rotera länken ett varv (360 grader) */
}