{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <h1 class="crazy4">Magic number</h1>
    <p class="crazy">Welcome to my awesome magical homepage.</p>
    <p class="crazy">This is the current magic number: {{ number }}</p>

    <a class="crazy2" href="{{ asset('img/marvin.jpg') }}">
        <img src="{{ asset('img/marvin.jpg') }}" alt="" width="100">
    </a>


{% endblock %}