{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}



    <h1>Redovisning av kursmoment</h1>
    <p>Detta är redovisningssidan för kursen mvc, här finns samtliga redovisningstexter när kursen är klar.</p>


    <!-- Redovisningstext för kmom -->
    <section>
    <h2><a href="#kmom01">Kmom01</a></h2>
    <p>Reflektioner kring kursmoment 1:</p>
    </section>



    <!-- Redovisningstext för kmom -->
    <section>
    <h2><a href="#kmom02">Kmom02</a></h2>

    <p></p>
    </section>



    <!-- Redovisningstext för kmom -->
    <section>
    <h2><a href="#kmom03">Kmom03</a></h2>
    <p></p>
    </section>



    <!-- Redovisningstext för kmom -->
    <section>
    <h2><a href="#kmom04">Kmom04</a></h2>
    <p>
    </p>
    </section>



    <!-- Redovisningstext för kmom -->
    <section>
    <h2><a href="#kmom05">Kmom05</a></h2>
    <p></p>
    </section>



    <!-- Redovisningstext för kmom -->
    <section>
    <h2><a href="#kmom06">Kmom06</a></h2>
    <p></p>
    </section>

    <!-- Redovisningstext för kmom -->
    <section>
    <h2><a href="#kmom07-10">Kmom07-10</a></h2>
    </section>

{% endblock %}
